@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: "Lato", sans-serif;
	line-height: 1.6;
	background-image: linear-gradient(#e5e5e5, #14213d);
	/* background-image: linear-gradient(#e9c46a, #264653); */
	/* background-color: #ccc; */
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 2rem;
	margin: 0 auto;
}
.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 2rem;
}
.left p {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	transform: rotate(-10deg);
	border-bottom: 1px solid #fca311;
}
.left img {
	width: 50px;
	height: 50px;
	margin: 0 -0.5rem;
}
.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 0.8;
	gap: 3rem;
	height: 50%;
	padding: 2rem;
	border: none;
	margin-right: 5rem;
	border-radius: 12px;
	color: #fff;
	background-color: #14213d;
}
.scoreboard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 6rem;
}
.scoreboard .person {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.scoreboard .computer {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.scoreboard .person p,
.scoreboard .computer p {
	font-size: 3rem;
}
.scoreboard img {
	width: 150px;
	height: 150px;
}
.information {
	font-size: 1.2rem;
	font-style: italic;
}
.actionButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
}
.actionButtons button,
.restart {
	font-size: 1.2rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 15px;
	text-transform: capitalize;
	cursor: pointer;
}
.result div {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.celebrate {
	font-size: 0.8rem;
	padding: 0.5rem;
	border: none;
	border-radius: 15px;
	font-style: italic;
	cursor: pointer;
	background-color: #fca311;
}
.restart {
	background-color: #e5e5e5;
	margin-top: 3rem;
	color: #14213d;
}
.winner {
	font-size: 2rem;
	color: #008000;
}

/* Conditional Classes */
.hide {
	display: none;
}
.unhide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1.5rem;
}
.loser {
	color: #ff0000;
}
